.header {
  border: 1px solid;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: black;
  height: 1.2rem;
  align-items: center;
}

.logo {
  margin-top: 2rem;
}

.header p {
  display: inline;
  float: right;
  cursor: pointer;
  list-style: none;
  color: white;
  margin: 1px solid;
  margin-left: 0.8rem;
  margin-top: 0px;
}

.header p:first-child {
  margin-right: 5rem;
}

.header p a {
  text-decoration: none;
  color: white;
}
